.main-gioi-thieu {
    width: 80%;
    margin: auto;
    h2 {
        text-align: center;
        margin: 10px;
    }
    .img-banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: auto;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
    }
    h3 {
        margin: 10px;
    }
}
