.main-header {
    background: #37BDBD;
    color: white;
    height: 30px;
    text-align: center;
}

.main-header ul {
    margin: 0;
    padding: 5px 0px 5px 30px;
}

.main-header li {
    display: inline;
    margin: 40px;
}

.main-header li a {
    text-decoration: none;
    color: #16188C;
}

.main-header li a:hover {
    color: white;
}
