.main-header {
    color: #37BDBD;
    height: 30px;
    text-align: center;
    margin-top: 10px;

    ul {
        margin: 0;
        padding: 5px 0px 5px 30px;
        }

    li {
        display: inline;
        margin: 40px;
    }

    li a {
        text-decoration: none;
        color: #37BDBD;
    }

    li a:hover {
        color: #16188C;
    }
}

.one {
 width: 100%;
 height: 20px;
 background: #37BDBD;
}