.main-contact {
    width: 80%;
    margin: 20px auto;
    img {
        display: block;
        margin: auto;
        width: 15%;
        height: auto;
        border-radius: 50%;
    }
    h2 {
        text-align: center;
        color: #0C5E0C;
    }
    h3 {
        font-size: 18px;
        margin: 20px 0 0 0px;
    }
    p {
        font-size: 15px;
        padding: 2px;
        margin: 5px 0 5px 10px;
    }
    .column {
        float: left;
        width: 50%;
        padding: 15px;
    }
    .row:after {
        content: "";
        display: table;
        clear: both;
      }
}